<a href="https://colab.research.google.com/github/shreya-bhonagiri/python_assignment-3/blob/master/ASSIGNMENT_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1Q:AREA OF TRIANGLE....
x=int(input("Enter first side of triangle : "))
y=int(input("Enter second side of triangle : "))
z=int(input("Enter third side of triangle : "))
s = (x + y + z) / 2
Area = (s*(s-x)*(s-y)*(s-z))**0.5
print("Area of the triangle is ",Area)

Enter first side of triangle : 5
Enter second side of triangle : 5
Enter third side of triangle : 5
Area of the triangle is  10.825317547305483

In [ ]:
#Q2:STRING PALINDROME....
strg=input("Enter a string:")
if(strg==strg[::-1]):
  print(strg,"palindrome")
else:
  print(strg,"not palindrome")

Enter a string:vikatakiv
vikatakiv palindrome

In [ ]:
#3Q:LEAP YEAR...
Year=int(input("please enter the year :"))
if Year%400==0:
  print(Year,"LEAP YEAR...")
elif Year%100==0:
  print(Year,"NOT LEAP YEAR....")
elif Year%4==0:
  print(Year,"LEAP YEAR...")
else :
  print(Year,"NOT LEAP YEAR...")

please enter the year :6060
6060 LEAP YEAR...

In [3]:
#4Q:SPACE TO HYPHEN....
string1=input("Please Enter the string : ")
string2=string1.replace(' ','-')
print(string2)

Please Enter the string : s h r e y a b h o n a g i r i
s-h-r-e-y-a-b-h-o-n-a-g-i-r-i-

In [4]:
#Q5:UNIQUE SORT PROBLEM....
def rearrange(str):
  str_list=str.split(',')
  str_set=set(str_list)
  str_list=list(str_set)
  str_list.sort()
  str=','.join(str_list)
  return str
str=input("Enter the string:")
print(rearrange(str))

Enter the string:carrot,allu,brinjal,ladies finger,potato
allu,brinjal,carrot,ladies finger,potato

In [18]:
#Q6:TAX CALUCULATOR.....
income=int(input("Enter the salary: ",))
if income<=250000 :
  print("Tax to be paid is NILL!")
elif 250001<=income<=500000 :
  a=income*5//100
  print("Tax to be paid is RS:",a)
elif 500001<=income<=750000 :
  a=income*10//100
  print("Tax to be paid is RS:",a)
elif 750001<=income<=1000000 :
  a=income*15//100
  print("Tax to be paid is RS:",a)
elif 1000001<=income<=1250000 :
  a=income*20//100
  print("Tax to be paid is RS:",a)
elif 1250001<=income<=1500000 :
  a=income*25//100
  print("Tax to be paid is RS:",a)
else :
  a=income*30//100
  print("Tax to be paid is RS:",a)

Enter the salary: 750000
Tax to be paid is RS: 75000

In [32]:
#7Q:LIST CONVERTS INTO SINGLE ARGUEMENT.....
list=[11,22,33,44,55]
for s in list :
  print(s,end="")

1122334455

In [33]:
#8Q:UNITS OF TIME....
print("ENTER THE TIME DURATION:")
days=int(input("Enter the number of days:"))
d=days*24*60*60
hours=int(input("Enter the number of hours:"))
h=hours*60*60
min=int(input("Enter the number of minutes:"))
m=min*60
sec=int(input("Enter the number of seconds:"))
total_sec=d+h+m+sec
print("Total no of seconds:",total_sec)

ENTER THE TIME DURATION:
Enter the number of days:5
Enter the number of hours:5
Enter the number of minutes:5
Enter the number of seconds:5
Total no of seconds: 450305

In [77]:
#9Q:SORT 3 INTEGERS......
a=(input("Enter the first numbe:"))
b=(input("Enter the second number:"))
c=(input("Enter the third number:"))
s=[a,b,c]
h=max(a,b,c)
m=min(a,b,c)
x=s[0]+s[1]+s[2]-h-m 
print(h,x,m)

Enter the first numbe:5
Enter the second number:4
Enter the third number:6

TypeError: ignored

In [49]:
#10Q:DATE,MONTH AND YEAR.....
year=int(input("Enter the year : "))
month=int(input("Enter the month : "))
day=int(input("Enter the day : "))
if year%4==0:
  leap_year=True
else:
  leap_year=False
if month==2:
  if leap_year:
    days==29
  else :
    days==28
elif month in (1,3,5,7,8,10,12):
   days=31
else:
  days=30
if day<days:
  day=day+1
else:
  day=1
print(f"[YYY-MM-DD]:{year}-{month}-{day}")

Enter the year : 2020
Enter the month : 02
Enter the day : 14
[YYY-MM-DD]:2020-2-1

In [52]:
#11Q:product of list...
list=[45,3,2,89,72,1,10,7]
def prod(list):
  p=1
  for n in list:
    p*=n
  return p
print(prod(list))

121111200

In [53]:
#12Q:sum of list...
def nUm_list(a,b,c,d,e,f):
  return a+b,b+c,c+d,d+e,e+f
nUm_list(5,6,8,34,89,1)

(11, 14, 42, 123, 90)

In [54]:
#13Q:number tuple...
def num_list(a,b,c,d,e,f):
  return a,a*b,a*b*c,a*b*c*d,a*b*c*d*e,a*b*c*d*e*f
num_list(5,6,8,3,9,1)

(5, 30, 240, 720, 6480, 6480)

In [58]:
#14Q:code of digits....
m=int(input("Enter the number"))
returnlist=[]
n=0
while m>0:
      x=m%10
      m=int(m/10)
      n=n*10+x
while n>0:
      x=n%10
      n=int(n/10)
      returnlist.append(x)
print(returnlist)

Enter the number534644
[5, 3, 4, 6, 4, 4]

In [80]:
#15Q:palindrome....
s=input("Enter a palindrome:")
def palindrome(s):
  pal1=1
  pal2=0
  for n in range(0,len(s)):
    for m in range(n+1,len(s)):
        if s[n:m]==s[m:n:-1]:
         if len(s[n:m])>pal1:
          pal1=len(s[n:m])
          pals=(s[n:m+1])
          pal2=1
  if pal2:
    return pals
  else:
    return "STRING IS NOT PALINDROME"
print(palindrome(s))

Enter a palindrome:madam
madam

In [81]:
#16Q:substring check.....
a=input("Enter the binary no.of length 5:")
b=input("Enter the binary no.of length10:")
if a[:] in b[:]:
  print(1)
else:
  print(0)

Enter the binary no.of length 5:10110
Enter the binary no.of length10:1010110010
1

In [85]:
#17Q:POUR WATER.....
def water(a,b,c):
  ves_a=a
  ves_b=b
  h=1
  while ves_a!=c and ves_b!=c:
    if ves_b==b:
      ves_b=0
      h=h+1
    elif ves_a==a:
      ves_a=a
      h=h+1
    else:
      x=min(a,b)
      ves_a=ves_a-x
      ves_b=ves_b+x
      h=h+1
  return h
  t=int(input("Enter no.of test cases:"))
  for i in range(t):
    a=int(input("Enter a liters:"))
    b=int(input("Enter b liters:"))
    c=int(input("Enter c liters:"))
    if (c>max(a,b)):
      print(-1)
    else:
      g=water(a,b,c)
      print(g)